* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Dots', cursive;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

#background {
    width: 100%;
    height: 100%;
    background-image:url('./Images/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 5%;
    height: 15%;
    color: white;
}

nav h3 {
    /* position: sticky; */
    font-size: 1.5em;
    font-family: 'Zen Dots', cursive;
    font-weight: 100;
}

nav a {
    padding: 0.75rem 2rem;
    border-radius: 50px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

nav a:hover {
    background-color: white;
    color: black;
}

#background h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
    letter-spacing: 1rem;
    font-weight: 600;
    font-family: 'bebas';
}

#content {
    width: 100%;
    height: 90%;
    padding-top: 1%;
    background-color: black;
}

#elems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    margin-top: 10%;
}

.block {
    position: relative;
    overflow: hidden;
    width: 48%;
    height: 40%;
    border-radius: 40px;
}

.img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.block h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Zen Dots', cursive;
    font-size: 1rem;
    letter-spacing: 4px;
    transform: translate(-50%, -50%);
}

.block h5:hover {
    cursor: pointer;
    color: black;
}

footer {
    width: 100%;
    height: 35%;
    background-color: rgb(0, 0, 0);

}

footer p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 5%;
    font-weight: 200;
    line-height: 26px;
    font-size: 1.25rem;
    color: white;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: 'Dancing Script', cursive;
}

#img1 {
    background-image: url('./Images/1.jpg');
}

#img2 {
    background-image: url('./Images/2.jpg');
}

#img3 {
    background-image: url('./Images/3.jpg');
}

#img4 {
    background-image: url('./Images/4.jpg');
}
